<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Заявки към бекенда (Retrofit) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Автоматично засичане на текущата GPS локация -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:name=".RoadsideApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadsideAssistance"
        android:usesCleartextTraffic="true">
        <!--
            usesCleartextTraffic="true" е нужно само защото локалният бекенд
            в development среда работи през обикновено http:// (не https://).
            За production build трябва да се премахне и API-то да е зад HTTPS.
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RoadsideAssistance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
